<div>
  <img src="/assets/headshotShawn.jpg" alt="Headshot of Shawn Reuter">
  <p>
    Hi, I'm <strong>Shawn</strong>. I'm a freelance web developer creating dynamic websites for those in need. 
    You can follow or connect with me on <a href="https://www.linkedin.com/in/shawn-reuter/" target="_blank">LinkedIn</a>,    
    see some of my work on <a href="https://github.com/reuterShawn" target="_blank">GitHub</a>,
  </p>
</div>

<style>
  div {
    align-items: center;
    display: flex;
  }

  img {
    width: 100px;
    height: 100px;
    border-radius: 12px;
    display: block;
    margin-right: 20px;
  }

  p {
    font-size: 1.125rem;
  }
</style>
