---
import Logo from './Logo.astro'
import Nav from './Nav.astro'

const { current = '' } = Astro.props;
---


<header>
  <!-- <Logo/> -->
  <h2 class="title">Reuter Development</h2>
  <Nav current={current} />
</header>


<style>
  header {
    display: flex;
    margin: 0 auto;
    max-width: 1400px;
    padding: 2em;
    width: 100%;
  }

  @media screen and (max-width: 800px) {
    .title {
      visibility: hidden;
    }
  }

  .title {
    padding-bottom: 1.5em;
  }
</style>