

<style>
  img {
    display: block;
    width: 75px;
  }

  @media screen and (max-width: 520px) {
    img {
      display: none;
    }
  }

  .light {
    visibility: hidden;
  }

  .dark {
    visibility: hidden;
  }

</style>

<div class="light">
  <img alt="Blog Logo" src="/assets/reuterLight3.png" width="200" height="200" />
</div>
<!-- 
  <div class="dark">
    <img alt="Blog Logo" src="/assets/reuterDark.png" width="200" height="200" />
  </div> -->
</a>
