<style>
  img {
    display: block;
    width: 100px;
  }

  @media screen and (max-width: 520px) {
    img {
      display: none;
    }
    .center-image {
      padding-bottom: 10rem;
    }
  }
</style>

<div class="center-image">
  <img alt="Blog Logo" src="/assets/clayreuterdev.png" width="300" height="2300" />
</div>
